name: windows_msvc

on:
  push:
    branches: [ main ]
    paths-ignore:
      - 'doc/**'
      - 'docs/**'
      - 'README.md'
      - 'README_zh_CN.md'
      - 'README_zh_HK.md'
      - 'README_ja_JP.md'
      - 'DEVELOPNOTE.md'
      - 'DEVELOPNOTE_zh_CN.md'
      - 'CHANGELOG.md'
      - 'CODE_OF_CONDUCT.md'
      - '.github/ISSUE_TEMPLATE/**'
      - '.github/PULL_REQUEST_TEMPLATE/**'
      - 'TODO.md'
      - '.readthedocs.yaml'
    tags:
      - V**
  pull_request:
    branches: [ main ]
    paths-ignore:
      - 'doc/**'
      - 'docs/**'
      - 'README.md'
      - 'README_zh_CN.md'
      - 'README_zh_HK.md'
      - 'README_ja_JP.md'
      - 'DEVELOPNOTE.md'
      - 'DEVELOPNOTE_zh_CN.md'
      - 'CHANGELOG.md'
      - 'CODE_OF_CONDUCT.md'
      - '.github/ISSUE_TEMPLATE/**'
      - '.github/PULL_REQUEST_TEMPLATE/**'
      - 'TODO.md'
      - '.readthedocs.yaml'
  workflow_dispatch:

jobs:
  windows_msvc2022:
    runs-on: windows-2022

    steps:
      - uses: actions/checkout@v4
    
      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          arch: 'win64_msvc2022_64'
          version: '6.8.1'
          modules: 'qtwebsockets qtserialport qtmultimedia'
          aqtversion: '==3.1.19'

      - name: Install cmake
        uses: crazy-max/ghaction-chocolatey@v3
        with:
          args: install cmake --no-progress

      - name: Install innosetup
        uses: crazy-max/ghaction-chocolatey@v3
        with:
          args: install innosetup --no-progress

      - name: Install setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: build msvc-libpython
        run: |
          mkdir msvc-libpython
          cp -r $env:Python3_ROOT_DIR/include ./msvc-libpython/
          mkdir msvc-libpython/lib
          cp $env:Python3_ROOT_DIR/python311.dll  ./msvc-libpython/lib/python311.dll
          cp $env:Python3_ROOT_DIR/libs/python311.lib  ./msvc-libpython/lib/python311.lib

      - name: Setup MSVC
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x64

      - name: Install libssh2
        run: |
          cd depend
          ./build_libssh2_msvc.bat
          mkdir D:\\libssh2
          mkdir D:\\libssh2\\include
          mkdir D:\\libssh2\\lib
          mkdir D:\\libssh2\\bin
          cp -r ./output/include/* D:\\libssh2\\include/
          cp -r ./output/lib/* D:\\libssh2\\lib/
          cp -r ./output/bin/* D:\\libssh2\\bin/

      - name: Build all
        run: |
          git fetch --tags --force
          ./tools/sed/sed.exe -i 's/--long --dirty/--long/g' ./tools/generate_info.ps1
          ./tools/sed/sed.exe -i "s/QT_DIR=C:\/Qt\/Qt6.2.0\/6.2.0\/msvc64\/bin/QT_DIR=%Qt6_DIR%/g" ./build_setup_msvc.bat
          ./tools/sed/sed.exe -i "s/QT_TOOLS_DIR=C:\/Qt\/Qt6.2.0\/Tools\/msvc64\/bin/QT_TOOLS_DIR=C:\/ProgramData\/Chocolatey\/lib\/mingw\/tools\/install\/msvc64\/bin/g" ./build_setup_msvc.bat
          ./tools/sed/sed.exe -i "s/LIBSSH2_DIR=\/libssh2/LIBSSH2_DIR=D:\\libssh2/g" ./lib/qtssh/qtssh.pri
          ./tools/sed/sed.exe -i "s/Python3_DIR=\/python3_root_dir/Python3_DIR=msvc-libpython/g" ./quardCRT.pro
          c:/Windows/system32/WindowsPowerShell/v1.0/powershell.exe -ExecutionPolicy Bypass -NoLogo -NoProfile -File "./tools/generate_info.ps1" > ./build_info.inc
          mkdir prebuilt_plugins
          python3 ./.github/scripts/get_plugin.py ./.github/scripts/plugin_list.json ./prebuilt_plugins msvc
          ./build_setup_msvc.bat

      - name: Upload build asserts
        uses: actions/upload-artifact@v4
        with:
          name: quardCRT_windows_msvc2022
          path: |
            ./output/*.exe

      - name: Upload build asserts
        uses: actions/upload-artifact@v4
        with:
          name: quardCRT_patch_for_msix
          path: |
            ./build_release/out/quardCRT.exe

      - name: Run tests
        run: |
          ./InnoSetup/build/quardCRT.exe --version
        